# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter (checkpoints automáticos)
.ipynb_checkpoints/

# Variáveis de ambiente
.env

# Configurações de IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Build / distribuição
build/
dist/
*.egg-info/

# Logs
*.log

# Modelos de machine learning treinados
models/*.pkl
models/*.joblib